<div class="container">
  <h2>Ultimate Fighters</h2>
  <div class="row">

    <!-- List of fighters -->
    <div class="col-md-5">
      <ul class="fighters">
        <li *ngFor="let fighter of fighters"
          [class.selected]="fighter === selectedFighter"
          (click)="onSelect(fighter)">
          <span class="badge">{{fighter.id}}</span> {{fighter.name}}
        </li>
      </ul>
    </div>

    <!-- Selected fighters -->
    <div class="col-md-7">
      <app-fighter-detail [fighter]="selectedFighter"></app-fighter-detail>
    </div>

  </div>
</div>
