<div class="container">

  <div class="row pb-2 mt-4">
      <h2>Ultimate Fighters</h2>
  </div>  

  <div class="row">
    <div class="col-md-12">

      <div class="app-fighters">
<!-- 
        <table mat-table class="lessons-table mat-elevation-z8" [dataSource]="fighters">

          <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>ID</th>
              <td mat-cell *matCellDef="let fighter">{{fighter.id}}</td>
          </ng-container>

          <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
              <td mat-cell *matCellDef="let fighter">
                <a routerLink="/detail/{{fighter.id}}">
                  {{fighter.name}}
                </a>
              </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>

        </table> -->

      <table class="table table-striped table-hover">
        <thead class="thead-dark">
          <tr>
            <th *ngFor="let col of columnsToDisplay"
                 scope="col">{{col}}</th>
          </tr>
        </thead>
        <tbody *ngFor="let fighter of fighters">
          <th scope="row">{{fighter.id}}</th>
          <td>
            <a routerLink="/detail/{{fighter.id}}">
              {{fighter.name}}
            </a>
          </td>
        </tbody>
      </table>

      </div>
    </div>
  </div>

</div>
