<div class="container">
  <div class="row pb-2 mt-4">
    <h1>Welcome to SSBU.GG!</h1>
  </div>

  <div class="col-md-12">
    <img src="assets/images/banner-large.jpg"
         class="img-fluid rounded" alt="banner">
  </div>

  <h2 class="pt-4 pb-2">Pitch Video</h2>

  <!-- TODO: add our pitch video link -->
  <div class="col-md-12 pb-4">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/Hskv9-cp2NU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>