<div class="container">

  <div class="row pb-2 mt-4">
    <div class="col-sm-4">
      <h2>Top Fighters</h2>
      <div class="grid grid-pad">
        <a *ngFor="let fighter of fighters" class="col-sm-4"
            routerLink="/detail/{{fighter.id}}">
          <div class="module fighter">
            <h4>{{fighter.name}}</h4>
          </div>
        </a>
      </div>
    </div>

    <div class="col-sm-4">
      <h2>Highest Winrate</h2>
      <p>Upcoming feature...</p>
    </div>

    <div class="col-sm-4">
      <h2>Tournament Results</h2>
      <p>Upcoming feature...</p>
    </div>
  </div>

</div>